﻿body {
    background-color:lightgrey;
}

header{
    background-color: blue;
    color: white;
    text-align:center;
}

article{
    background-color:lightblue;
    display:flex;
    justify-content:space-around;
}

.dragSource {
    background-color: deepskyblue;
    margin: 5px;
    list-style: none;
}

.dragAble {
    border:1px dashed black;
    font-weight:bold;
    background-color: #d8d39b;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position:relative;
    top:1px;
    left:3px;
}

table {
    border:2pt solid black;
}

.dragTarget, .tdRowSum, .tdColSum {
    border:1pt dashed yellow;
    width:50px;
    height:50px;
    text-align:center;
}

#tblRowSum tr td.tdRowSum.perfect, #tblColSum tr td.perfect {
    background-color: green;
    color:white;
}

#tblColSum {
    position:relative;
    left:5px;
}
