﻿@model List<ASPNET_MVC_A02_Helper.Utilities.Film>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilmSelector</title>
    <script src="~/Scripts/index.js"></script>
</head>
<body>
    <header><h1>Film Selector</h1></header>
    <form method="post" action="/Home/Index">
        @Html.CheckBoxList("Test Titel", new SelectList(Model, "Id", "Title"), (object[])ViewBag.SelectedIDs)
        <input type="submit" value="Absenden" />
    </form>
</body>
</html>
