﻿
body{
    background-color:black;
    color: white;
    padding: 5px;
}

#main{
    text-align:center;
    width:auto;
    overflow:auto;
}

.box{
    width:300px;
    float:left;
    padding:10px;
}

.plot {
    overflow: auto;
    height: 600px;
    padding: 5px;
}

.box h2{
    height: 50px;
    background-color: green;
}