﻿
@{
    ViewBag.Title = "Index";
}
@DateTime.Now
<br />
@{System.Threading.Thread.Sleep(1000);}
@DateTime.Now

<h2>Filter Test</h2>

<hr />
@(ViewBag.sw ?? "keine Zeit" )
<br />
@Html.ActionLink("Stop It", "StopIt", "Home")
<hr />
@(ViewBag.err ?? "kein Fehler" )
<br />
@Html.ActionLink("Make Error", "ErrorIt", "Home")