﻿@model EF_CodeFirst_03_VererbungKurseTeil2.Models.Online

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Online</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nachweis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nachweis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
