﻿header {
    text-align: center;
}

body {
    background-color: lightgray;
}

.auswahl {
    width: 100%;
}

#divAuswahl {
    background-color: white;
    overflow: hidden;
}

    #divAuswahl p {
        margin: 0px;
        padding: 5px;
    }

        #divAuswahl p:hover {
            background-color: lightblue;
        }
