﻿@model EF_DatabaseFirst_A02_ProjectsEmployees.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>

    @if (Model.Employees != null && Model.Employees.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => (Model.Employees.ToArray())[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => (Model.Employees.ToArray())[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => (Model.Employees.ToArray())[0].ProjectRole)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ProjectRole)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Employees", new { id = item.ID },null) | 
                        @Html.ActionLink("Details", "Details", "Employees", new { id = item.ID },null) | 
                        @Html.ActionLink("Delete", "Delete", "Employees", new { id = item.ID }, null)
                    </td>
                </tr>
            }
        </table>
    }
</div>

