﻿@model List<ASPNET_MVC_A05_UploadDocumentStore.Models.SqlFile>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index",
            "Home",
            FormMethod.Post,
            new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="dieDatei" />
            <input type="submit" />
        }
    </div>
    <hr/>
    <div>
        <h2>Liste: @Model.Count</h2>
        @foreach (var item in Model) {
            @item.DocName <br/>
        }
    </div>
</body>
</html>
