﻿@model HTML_Forms_A01_1_Palindrom.Models.PalindromChecker

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PalindromChecker</title>
</head>
<body>
    <h1>Palindrom?</h1>
    <form action="/Home/Index" method="post"> 
        <textarea name="palindrom" rows="5" cols="50">@if (Model != null) {@Model.Palindrom}</textarea>
        <br />
        <input type="submit" value="CheckIt" />
    </form>

    <h2>@if (Model != null){@Model.Answer}</h2>

</body>
</html>
