﻿
#table01 {
    border-collapse: collapse;
}

#table01 th, td {
    border: 1px solid;
    padding: 10px;
}

#table01 th {
    font-weight: bold;
    text-align: left;
}

#table01 td[class="col01"] {
    font-style: italic;
    text-align: center;
}

#table01 td[class="col02"] {
    font-family: 'Global Monospace', monospace;
    text-align: center;
}
