﻿body {
    height:800px;
    width: 100%;
    display:grid;
    background-color: gray;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 75px 1fr 1fr 1fr 50px;
}

header{
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

nav {
    border: 1px solid green;
    grid-column:  1 / 2;
    grid-row:  2 / 5;
}

#artikel1 {
    border: 1px solid red;
    grid-column:  2 / 3;
    grid-row:  2 / 3;
}

#artikel2 {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#artikel3 {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

footer {
    height: 100px;
    border: 1px solid blue;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
