﻿body {
    height:800px;
    width: 100%;
    display: -ms-grid;
    background-color: gray;
    -ms-grid-columns: 200px 1fr;
    -ms-grid-rows: 75px 1fr 1fr 1fr 50px;
}

header{
    border: 1px solid black;
    -ms-grid-column: 1 ;
    -ms-grid-row:  1;
    -ms-grid-column-span:2;
}

nav {
    border: 1px solid green;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
}

#artikel1 {
    border: 1px solid red;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

#artikel2 {
    border: 1px solid red;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}
#artikel3 {
    border: 1px solid red;
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}

footer {
    height:100px;
    border: 1px solid blue;
    -ms-grid-column: 1;
    -ms-grid-row: 5;
    -ms-grid-column-span: 2;
}
