﻿@model List<jQuery_A02_SehrEinfacheAnimationen.Models.Film>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="Styles/index.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.2.1.js"></script>
    <script src="Scripts/index.js"></script>
</head>
<body>
    <header><h1>Film</h1></header>
    <article>
        @foreach (var item in Model)
        {
            <div>
                <h2>@item.Title</h2>
                <div class="film">
                    <p>@item.Year</p>
                    <p>@item.Regisseur</p>

                    <ul>
                        @foreach (var actor in item.ActorNames)
                        {
                            <li>@actor</li>
                        }
                    </ul>
                </div>
            </div>
        }
        </select>
    </article>
</body>
</html>
