﻿@model HTML_Forms_A02_Filmbewertung.Models.Film
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ergebnis</title>
</head>
<body>
    <form action="/Home/Index" method="get">
        <h2>Ergebnis f&uuml;r den Film @Model.Title</h2>
        <table>
            <tr>
                <th>Note</th>
                <th>Stimmen</th>
            </tr>
            @for (int i = 0; i < 6; i++)
            {
                    <tr>
                        <td>@HTML_Forms_A02_Filmbewertung.Models.FilmRepository.NotenNamen[i]</td>
                        <td>@Model.Noten[i]</td>
                    </tr>
            }
        </table>
        <input type="submit" value="Zur&uuml;ck" />
    </form>
</body>
</html>
