﻿@model Dictionary<int,string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Filmbewertung</title>
</head>
<body>
    <h1>Filmbewertung</h1>
    <form action="/HOME/Abstimmen" method="post"> 
        <p>Stimmen Sie f&uuml;r einen Titel ab:</p>
        <table>
            <tr>
                <td>
                    <select size="1" name="filmID">
                        <option value="0" ; disabled="disabled">W&auml;hlen Sie eine Titel aus ...</option>
                        @foreach (var item in Model)
        {
                <option value="@item.Key">@item.Value</option>
}
                    </select>
                    
                </td>
                <td>
                    <div>
                        <input type="radio" name="note" value="sehr gut" /><label>sehr gut</label><br />
                        <input type="radio" name="note" value="gut" /><label>gut</label><br />
                        <input type="radio" name="note" value="befriedigend" /><label>befriedigend</label><br />
                        <input type="radio" name="note" value="ausreichend" /><label>ausreichend</label><br />
                        <input type="radio" name="note" value="mangelhaft" /><label>mangelhaft</label><br />
                        <input type="radio" name="note" value="ungen&uuml;gend" /><label>ungen&uuml;gend</label><br />
                        <input type="submit" value="Abstimmen" />
                    </div>
                </td>
                
            </tr>
        </table>
    </form>
</body>
</html>
