﻿@model List<ASPNET_MVC_A06_BuecherDaten.Models.Book>

@if (Model != null && Model.Count > 0)
{
    <table id="tblResult">
        <tr>
            <th class="isbn">ISBN</th>
            <th class="title">Titel</th>
            <th class="date">Erschienen</th>
            <th class="category">Kategorie</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="isbn">@item.ISBN</td>
                <td class="title">@item.Title</td>
                <td class="date">@item.Year.ToShortDateString() </td>
                <td class="category">@item.CategoryName</td>
            </tr>
        }

    </table>
}