﻿@model List<ASPNET_MVC_A06_BuecherDaten.Models.Book>
@{
    ViewBag.Title = "AllBooks";
}

<h2>books by title</h2>

@using (Ajax.BeginForm("GetResultsTableByTitle", "Home",
new AjaxOptions() { UpdateTargetId = "divBookTable" }))
{
    @Html.TextBox("searchFor") <input type="submit" value="Suchen" />
}

<div id="divBookTable"></div>