﻿@model List<ASPNET_MVC_A06_BuecherDaten.Models.Book>
@{
    ViewBag.Title = "AllBooks";
}

<h2>books by category</h2>

@using (Ajax.BeginForm("GetResultsTableByCategory", "Home",
new AjaxOptions() { UpdateTargetId = "divBookTable" }))
{
    ;
    @Html.DropDownList("searchFor"," -- please select -- ") <input type="submit" value="Suchen" />
}

<div id="divBookTable"></div>
