﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    @if (Request.QueryString.Keys.Count > 0)
    {
        <tr><td>Daten aus dem QueryString</td></tr>
        foreach (String item in Request.QueryString.Keys) {
            <tr>
                <td>@item</td>
                <td>@Request.QueryString[item]</td>
            </tr>
        }
    }
    else
    {
        <tr><td>Keine Daten im QueryString</td></tr>
    }
</table>