﻿@model HTML_Forms_A01_2_Schaltjahr.Models.SchaltJahrChecker

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SchaltjahrChecker</title>
</head>
<body>
    <h1>Schaltjahr?</h1>
    <form action="/Home/Index" method="post">
        @if (Model == null)
        {
            <input type="number" name="schaltjahr" min="1582" step="1" value="1582" /> 
        }
        else
        {
            <input type="number" name="schaltjahr" min="1582" step="1" value="@Model.Year" /> 
        }
        <br />
        <input type="submit" value="CheckIt" />
    </form>

    @if (Model != null)
    {<h2>@Model.Answer</h2>}
</body>
</html>
