﻿body {
    background-color: lightgray;
}

h1 {
    color: darkcyan;
    font-size: 50px;
}

article, header {
    width: 100%;
    text-align: center;
}

#buttons {
    text-align: center;
    padding: 10px;
}