﻿@model IEnumerable<MVC_HT_XSS_MBL_Anwesenheit.Models.Attendant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsentDays)
        </th>
        <th></th>
    </tr>

@Html.DisplayForModel()

</table>
