﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/index.js"></script>

</head>
<body>
    <header>
        <h1>Ajax mit jQuery $.post() bzw. $.get()</h1>
    </header>
    <article>
        <div class="input">
            <input id="txtText" type="text" placeholder="Bitte geben Sie hier Ihren Text ein"/>
            <input id="btnText" type="button" value="Text senden" />
        </div>
        <div class="output">
            <p id="outputParagraph">-</p>
        </div>
    </article>
</body>
</html>
