﻿#divDragHere {
    width:100%;
    height: 200px;
    background-color:lightblue;
    line-height:200px;
    text-align:center;
    margin:20px;
}

#divAsciiOutput {
    margin:auto;
    font-size:xx-small;
}