﻿
/* Aufgabe 2 */

#firstP {
    text-align:right;
}
#secondP {
    text-align: center;
}
#thirdP {
    text-align:justify;
}

/* Aufgabe 3 */

#firstP {
    text-transform: lowercase;
}

#secondP {
    text-transform: uppercase;
}

#thirdP {
    text-transform: capitalize;
}

#fourthP {
    text-transform: capitalize;
}