﻿body {
    background-color:lightgray;
    padding: 5px;
}

div {
    background-color: lightblue;
}

header h1 {
    text-align: center;
    background-color: orange;
    padding: 5px;
}

h2 {
    background-color: lightgreen;
    padding: 5px;
}

div.film {
    padding: 5px;
}
