﻿

header {
    border: 1px solid black;
    margin: 10px;
}

#main {
    height: auto;
    overflow: hidden;
    border: 1px solid yellow;
}

nav {
    border: 1px solid green;
    float: left;
    min-width: 150px;
    margin: 10px;
    height: inherit;
    overflow: hidden;
}

    nav ul li {
        margin: 10px;
    }

article {
    border: 1px solid red;
    margin: 10px;
    min-width: 150px;
    overflow:hidden;
}

article h1{
    text-align:center;
}

footer {
    border: 1px solid black;
    clear: left;
    margin: 10px;
}
