﻿body {
    background-color:lightgray;
}

h1{
    text-align:center;
}

#divCanvas {
    display:flex;
    justify-content:space-around;
}

#divControls {
    display: flex;
    justify-content: center;
}

#canMyWorld {
    background-color: transparent;
    border: 1pt dashed orange;
}

footer {
    text-align:center;
}