﻿@model List<MVC_Zustandsverwaltung_A01_Session_Staedte.Models.Stadt>

@if (Model != null && Model.Count > 0)
{
    <table id="tblTop10">
        <tr>
            <th>@Html.DisplayNameFor(model => Model[0].Name)</th>
            <th>@Html.DisplayNameFor(model => Model[0].AnzahlZiele)</th>
            <th>@Html.DisplayNameFor(model => Model[0].Bewertung)</th>
        </tr>
        @foreach (MVC_Zustandsverwaltung_A01_Session_Staedte.Models.Stadt stadt in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => stadt.Name)</td>
                <td>@Html.DisplayFor(model => stadt.AnzahlZiele)</td>
                <td>@Html.DisplayFor(model => stadt.Bewertung)</td>
            </tr>
        }
    </table>
}
