﻿@{
    ViewBag.Title = "nach Bundesland";
}

<h2>Städtereisen - @ViewBag.Title</h2>

@using (Ajax.BeginForm("GetStaedteByBL", "Home",
new AjaxOptions() { UpdateTargetId = "divCityTable" }))
{
    @Html.DropDownList("filterFor"," -- bitte wählen -- ")
    <input type="submit" value="Suchen" />
}

<div id="divCityTable"></div>