﻿
@{
    ViewBag.Title = "Suche";
}

<h2>Städtereisen - @ViewBag.Title</h2>

@if (Session["suchFilter"] != null && Session["suchFilter"] as Queue<string> != null)
{

    foreach (string item in Session["suchFilter"] as Queue<string>
        )
    {
        <form>
            @Ajax.ActionLink(item, "GetStaedteByName", "Home",
                       new AjaxOptions() { UpdateTargetId = "divCityTable", })
            <span>&#124</span>
            @Html.Hidden("filterFor", item)
        </form>
    }

}


@using (Ajax.BeginForm("GetStaedteByName", "Home",
new AjaxOptions() { UpdateTargetId = "divCityTable" }))
{
    @Html.Editor("filterFor")
    <input type="submit" value="Suchen" />
}

<div id="divCityTable"></div>