﻿@model List<MVC_Zustandsverwaltung_A01_Session_Staedte.Models.Stadt>
@{
    ViewBag.Title = "Top 10";
}

<h2>Städtereisen - @ViewBag.Title</h2>

<div id="divCityTable">
    @Html.Partial("_StaedteTable", Model)
</div>