﻿
/*.whole_board {
    border-collapse:collapse;
    border:0px solid black;
}*/

.whole_board tr td {
    text-align: center;
    vertical-align: central;
    font-size: 10px;
    border:0px solid black;
    padding:0px;

}

.chess_board {
    border-collapse: collapse;
    border:1px solid black;
}

.chess_board tr td {
    width:30px;
    height:30px;
    text-align:center;
    vertical-align:central;
    border: .5px solid black;
    font-size:20px;
}

.chess_board tr:nth-child(2n) td:nth-child(2n+1)  {
    background-color:silver;
}
.chess_board tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: silver;
}