﻿@model MVC_BenutzerRollen.Models.MOV_FILM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MOV_FILM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jahr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jahr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.punkte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.punkte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stimmen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stimmen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOV_PERSON.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOV_PERSON.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
