﻿@model IEnumerable<MVC_BenutzerRollen.Models.MOV_FILM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jahr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.punkte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stimmen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOV_PERSON.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jahr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.punkte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stimmen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOV_PERSON.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
