﻿
/*Aufgabe 1*/

h1{
    color: orange;
    font-family:Arial,sans-serif;
    font-size:28pt;
}

/*Aufgabe 2*/

p{
    color: darkviolet;
    font-weight:bold;
    font-style:italic;
    text-indent:1.5em;
}

/*Aufgabe 3*/

h2{
    color:maroon;
    line-height: 2em;
    letter-spacing: 0.3em;
    word-spacing: 3.5em;
}

p{
    line-height: 2em;
    letter-spacing:0.3em;
}

/*Aufgabe 4*/

h1{
    background-color:#FF00FF;
}

h2{
    background-color:lightgray;
}

p {
    background-color: yellow;
}

/*Aufgabe 5*/

h1{
    border-color:black;
    border-width:1px;
    border-style:solid;
}

h2 {
    border-left: 10px solid red;
    border-top: 10px solid red;
}

p {
    border-right-color: orange;
    border-right-style: dotted;
    border-bottom-color: orange;
    border-bottom-style: dotted;
}

/*Aufgabe 6*/

h1{
    text-align:right;
    background-color:lightskyblue;
}

h2 {
    text-align: center;
    color: white;
    background-color: limegreen;
}