﻿
@{
    ViewBag.Title = "AddKursFromCSV";
}

<h2>Class</h2>

@using (Html.BeginForm("AddKursFromCSV", "Kurs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <h4>add from .csv file</h4>
        <hr />
        <div class="form-group">
            <input type="file" name="theFile" />
        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
}
