﻿@model ASPNET_MVC_A04_ValidierungBLZ.Models.Konto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        { 
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Nummer)
                </td>
                <td>
                    @Html.EditorFor(model => model.Nummer)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Nummer)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BLZ)
                </td>
                <td>
                    @Html.EditorFor(model => model.BLZ)
                </td>

                <td>
                    @Html.ValidationMessageFor(model => model.BLZ)
                </td>
            </tr>
        </table>
        <input type="submit" value="Senden" />
        
        }
    </div>
</body>
</html>
