﻿body {
    background-color: lightgray;
}

h1 {
    font-size: 50px;
}

article, header {
    width: 100%;
    text-align: center;
    justify-content: center;
}


input, select {
    box-sizing: border-box;
    width: 200px;
}

.btn {
    width: 100px;
    text-align: center;
    vertical-align: central;
}


table {
    margin-left: auto;
    margin-right: auto;
}

#tblInput {
    border: 1pt solid black;
}

    #tblInput td[class=td1] {
        text-align: left;
    }

    #tblInput td[class=td4] {
        text-align: left;
        padding-left: 10px;
    }

#tblOutput {
    border: 1pt solid black;
}

.Output tr:nth-child(2n+1) {
    background-color: white;
}

#tblOutput tr:nth-child(2n) .td1 {
    background-color: darkseagreen;
}

#tblOutput .td1 {
    background-color: lightgreen;
}

#tblOutput .th {
    background-color: lawngreen;
}

#tblOutput .th1 {
    background-color: green;
}