﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/Index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/index.js"></script>
</head>
<body>
    <header><h1>Film</h1></header> 
    <article id="main">
        <input id="txtAuswahl" class="auswahl" type="text" placeholder="bitte Titel auswählen"/>
        <div id="divAuswahl" class="auswahl"></div>
    </article>
</body>
</html>
