﻿
@{
    ViewBag.Title = "Home";
}

<h2>Banknote Serial Checker</h2>

<hr />

@using (Ajax.BeginForm("SingleCheck", "Home",
new AjaxOptions() { UpdateTargetId = "lblSingleCheck" }))
{
    <fieldset>
        <legend>@ASPNET_MVC_A07_Lokalisierung.Views.Home.Index.SingleSerial</legend>
        @Html.Label("Serial")
        @Html.Editor("Serial")
        <input type="submit" value="Check" />
        <br />
        @Html.Label(" ", new { id = "lblSingleCheck" })
    </fieldset>
}

<hr />

@using (Ajax.BeginForm("MultiCheck", "Home",
new AjaxOptions() { UpdateTargetId = "lblMultiCheck" }))
{
    <fieldset>
        <legend>@ASPNET_MVC_A07_Lokalisierung.Views.Home.Index.MultiSerial</legend>
        @Html.Label("Serials")
        @Html.TextArea("Serials")
        <input type="submit" value="Check" />
        <br />
        @Html.Label(" ", new { id = "lblMultiCheck" })
    </fieldset>
}

<hr/> 

Dateiupload missing