﻿body {
    background-color: lightgray;
}

#inputFormular {
    background-color: lightblue;
    padding: 10px;
    display: -ms-grid;
    -ms-grid-columns: auto 50% 200px;
    -ms-grid-rows: (40px)[8];
    -ms-align-content: center;
    display: grid;
    grid-template-columns: auto 50% 200px;
    grid-template-rows: (40px)[8];
}

p, input{
    margin: 5px;
    height:20px;
    vertical-align:central;
}

p{
    -ms-grid-column:1;
    grid-column:1/2;
}
input {
    -ms-grid-column: 2;
    grid-column: 2/3;
}

.firstName{
    -ms-grid-row: 1;
    grid-row: 1/2;
}

.lastName {
    -ms-grid-row: 2;
    grid-row: 2/3;
}

.address {
    -ms-grid-row: 3;
    grid-row: 3/4;
}

.address2 {
    -ms-grid-row: 4;
    grid-row: 4/5;
}

.city {
    -ms-grid-row: 5;
    grid-row: 5/6;
}

.state {
    -ms-grid-row: 6;
    grid-row: 6/7;
}

.zip {
    -ms-grid-row: 7;
    grid-row: 7/8;
}

.department {
    margin-left:10px;

    -ms-grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span:3;

    grid-column: 3/4;
    grid-row: 1/4;
}

#buttonField {
    display:inline-flex;
    flex-direction:row;
    justify-content:flex-end;

    -ms-grid-column:1;
    -ms-grid-row:8;
    -ms-grid-column-span:3;

    grid-column:1/4;
    grid-row:8/9;
}