﻿﻿h1 {
    text-align: center;
    width: 801px;
}

#input {
    text-align: center;
    margin: 10px;
    width: 814px;
}

#inpSlider {
    text-align: center;
    width: 700px;
}

#inpMax {
    text-align: right;
    width: 70px;
}

#divSlider{
    width:790px;
}

#primFelder {
    text-align: center;
    align-content: space-around;
    width: 814px;
}

#primFelder div{
    width: 38px;
    line-height: 38px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    border: 1pt solid white;
    background-color: lightgray;
}

    #primFelder .prime {
        color: red;
        background-color: #e4e4b0;
        font-weight: bolder;
    }

    #primFelder .noPrime {
        color: white;
        background-color: #606060;
    }
