﻿@model ASPNET_MVC_A03_ValidierungISBN.Models.Book

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Book</legend>
            @Html.HiddenFor(m => m.Id)

            <div>
                @Html.LabelFor(model => model.Title)
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div>
                @Html.LabelFor(model => model.Pages)
                @Html.EditorFor(model => model.Pages)
                @Html.ValidationMessageFor(model => model.Pages)
            </div>
            <div>
                <p>Valide ISBN zum Testen: 3836219972</p>
                @Html.LabelFor(model => model.ISBN)
                @Html.EditorFor(model => model.ISBN)
                @Html.ValidationMessageFor(model => model.ISBN)
            </div>
            <p>
                <input type="submit" value="Speichern" />
            </p>
        </fieldset>
    }
</body>
</html>
