﻿body {
    background-color:lightgrey;
}

header{
    background-color: blue;
    color: white;
    text-align:center;
}

.dragTarget {
    background-color: deepskyblue;
    height: 50px;
    margin: 5px;
}

#divStart {
    list-style:none;
    display: flex;
    justify-content: space-around;
}

#divEnd {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

span {
    border:1px dashed black;
    font-weight:bold;
    background-color: #d8d39b;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position:relative;
    top:5px;
    margin-left:5px;
}
