﻿@model List<ASPNET_MVC_A09_CachingLaender.Models.Country>

@if (Model != null && Model.Count > 0)
{
    <table id="tblResult">
        <tr>
            <th class="name">Name</th>
            <th class="capital">Hauptstadt</th>
            <th class="populationCount">Einwohnerzahl</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="name">@item.Name</td>
                <td class="capital">@item.Capital</td>
                <td class="populationCount">@item.Population</td>
            </tr>
        }

    </table>
}
