﻿@{
    ViewBag.Title = "Mondial - Info";
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("GetCountriesForContinent", "Home",
new AjaxOptions() { UpdateTargetId = "divCountriesTable" }))
{
    ;
    @Html.DropDownList("continentName", " -- please select -- ") <input type="submit" value="Suchen" />
}

<div id="divCountriesTable"></div>

