﻿@model List<MVC_DI_A01_KontakteDateienDB.Models.Contact>

@{
    ViewBag.Title = "All";
}

<h2>contact list</h2>

@if(Model !=null && Model.Count> 0)
{
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model[0].LastName)</th>
        <th>@Html.DisplayNameFor(model => model[0].FirstName)</th>
        <th>@Html.DisplayNameFor(model => model[0].PhoneNr)</th>
    </tr>
    @foreach (var contact in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => contact.LastName)</td>
            <td>@Html.DisplayFor(model => contact.FirstName)</td>
            <td>@Html.DisplayFor(model => contact.PhoneNr)</td>
        </tr>
    }
</table>
}