﻿@model MVC_DI_A01_KontakteDateienDB.Models.Contact

@{
    ViewBag.Title = "NewContact";
}

<h2>New Contact</h2>

@using (Html.BeginForm())
{
    @Html.DisplayNameFor(model => model.LastName)
    @Html.EditorFor(model => model.LastName)<br />
    @Html.DisplayNameFor(model => model.FirstName)
    @Html.EditorFor(model => model.FirstName)<br />
    @Html.DisplayNameFor(model => model.PhoneNr)
    @Html.EditorFor(model => model.PhoneNr)<br />
    <input type="submit" value="Save" />
}
