﻿
@{
    ViewBag.Title = "SimpleSignalR-Chat";
}

<h2>Simple SignalR Chat</h2>

<h3 id="h3UserName">Your name: </h3>

<div id="divInput">
    <label for="inpText" id="lblInpText">Nachricht</label>
    <input type="text" id="inpText" placeholder="hier eintippen" name="message" />
    <input type="button" id="btnText" value="Senden"/>
</div>

<div id="divList">
</div>

<div id="divOutput">
</div>